@model ProductViewModel
<table class="display table container list-product">
    <button type="button" data-bs-toggle="modal" data-bs-target="#ModalAdd" class="btn btn-outline-primary">Add product</button>
    <thead>
        <tr>
            <th><h1>ID</h1></th>
            <th><h1>Image</h1></th>
            <th><h1>Name</h1></th>
            <th><h1>Description</h1></th>
            <th><h1>Price</h1></th>
            <th><h1>Category</h1></th>
            <th><h1>DateCreated</h1></th>
            <th><h1>Action</h1></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Products)
        {
            <tr>
                <td>@p.Id</td>
                <td class="image"><img class="img-thumbnail" src="@p.ImageURL" /></td>
                <td>@p.Name</td>
                <td>@p.Description</td>
                <td>@p.Price</td>
                <td>@p.CategoryName</td>
                <td>@p.DateCreated</td>
                <td>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#ModalUpdate_@p.Id" class="btn btn-primary">Update</button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modalDelete_@p.Id" class="btn btn-danger">Delete</button>
                    <form method="post" asp-action="Delete">
                        <div class="modal fade" id="modalDelete_@p.Id" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title fs-5" id="exampleModalLabel">Thông báo</h3>
                                    </div>
                                    <div class="modal-body">
                                        <h2 style="color:red">
                                            Bạn có chắc là muốn xóa @p.Name ?
                                        </h2>
                                    </div>
                                    <div class="modal-footer">

                                        <input type="hidden" value="@p.Id" name="id" />
                                        <button type="submit" class="btn btn-primary">Xóa</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                    <form method="post" asp-controller="Product" asp-action="Update" enctype="multipart/form-data">
                        <div class="modal fade" id="ModalUpdate_@p.Id" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Cập nhập sản phẩm</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <input type="hidden" value="@p.Id" asp-for="ProductRequest.Id" />
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label class="form-label" for="name">TÊN SẢN PHẨM</label>
                                            <input class="form-control" value="@p.Name" type="text" id="name" asp-for="ProductRequest.Name" required />
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="price">GIÁ</label>
                                            <input class="form-control" value="@p.Price" type="number" id="price" asp-for="ProductRequest.Price" />
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="description">MÔ TẢ</label>
                                            <textarea class="form-control" name="ProductRequest.Description">@p.Description</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="description">HÌNH ẢNH</label>
                                            <img src="@p.ImageURL" style="width:150px" />
                                            <input class="form-control" type="file" accept="image/*" id="image" value="@p.ImageURL" name="ProductRequest.Image" />


                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">LOẠI SẢN PHẨM</label>
                                            <select class="form-select" asp-for="ProductRequest.CategoryId">
                                                @foreach (var cat in Model.Categories)
                                                {
                                                    if (p.CategoryId == cat.Id)
                                                    {
                                                        <option selected value="@cat.Id">@cat.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@cat.Id">@cat.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Cập nhập</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            
        }
    </tbody>

</table>

